.logo {
  position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
  }
  

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1);
  }

  .header {
    font-size: 0.9rem;
  }
}
